#quick{
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    width: 20vw;
    height: 20vh;
    position: relative;
    padding-top: 500px;
    h2{
        font-family: $fontpoppins;
        font-size: $size20;
        font-weight: $font500;
        color: $white;
    }
    ul{
       
        li{
            display: $flex;
            justify-content: $spacebetween;
            padding-top: 15px;
           a{
               text-decoration: none;
               font-family: $fontpoppins;
                font-size: $size16;
                font-weight: $fontnormal;
                color: $white;
           }

        }
    }
}
