#stay{
    display: $flex;
    flex-direction: $column;
    justify-content:  $spacearound;
    width: 20vw;
    height: 400px;
    position: relative;
    padding-top: 500px;
    align-items: $center;

    h2{
        font-family: $fontdosis;
  font-size: $size50;
  font-weight: $font800;
  color: $white;
    }
    h3{
        font-family: $fontpoppins;
        font-size: $size31;
        font-weight: $font500;
        color: $white;
    }
    #RS{
        width: 250px;
        display: $flex;
        justify-content: $spacebetween;
        img{
            width: 20px;
        }
    }
}