//font
$fontdosis:'Dosis', sans-serif;
$fontlato:'Lato', sans-serif;
$fontlobster:'Lobster', cursive;
$fontpoppins:'Poppins', sans-serif;


//colors
$grisinvi:#f6f7fb;
$white: white;
$red: red;
$blueclaire:#6156f9;
$bluenuit:#1a129f;
$titlegris:#42495b;
$grish1:#484848;
$gristext:#7a839e;
$violet: #7e76f9;
$violetclair: #E6E6FA;
$bleuflash: #1000ff;
$black: black;
$degrade: linear-gradient(to right,rgba(26,18,159,1) 60%, rgba(97,86,249,1) 95%);



//font weight
$fontnormal: normal;
$fontbold: bold;
$font300: 300;
$font500: 500;
$font600: 600;
$font800: 800;

//font size
$size16: 16px;
$size18: 18px;
$size50: 50px;
$size15: 15px;
$size28: 28px;
$size40: 40px;

$size74: 74px;
$size20: 20px;
$size25: 25px;
$size30: 30px;
$size32: 32px;
$size31: 31px;
$size100: 100px;


//display
$flex: flex;
$column: column;
$center: center;
$spacebetween: space-between;
$spacearound: space-around;
$wrap: wrap;

//taille
$width100: 100vw;
$width50: 50vw;
